<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Simple Weather</title>
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  <!-- <script src="../public/typeAhead.js" async defer></script>
  <script src="../public/scripts.js" async defer></script> -->
</head>

<body>
  <div class="container">
    <input name="city" type="text" class="ghost-input" id="location" placeholder="Enter a City" required>
    <button id="getWeather" class="ghost-button">Get Weather</button>
  </div>

  <div class="container">
    <section id="weatherData"></section>
  </div>

  <div class="content">
    <section id="weatherForecast"></section>
  </div>

  <% if(weather !== null){ %>
          <p><%= weather %></p>
        <% } %>

        <% if(error !== null){ %>
          <p><%= error %></p>
        <% } %>

</body>
<script src="../public/ajax.js"></script>

</html>